<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        title React SSR
    body
        #app #{reactDom}
        script window.REDUX_DATA = reduxState
        script(src="./app.bundle.js")